/* ===== ESTILO GENERAL ===== */
body {
    background: #f4f4f4;
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
.factura-container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* ===== TITULOS ===== */
.factura-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #192433;
    font-size: 26px;
}

/* Secciones */
.factura-box h3 {
    margin-top: 25px;
    color: #213246;
    border-left: 4px solid #213246;
    padding-left: 10px;
    font-size: 20px;
}

/* Texto general */
.factura-box p {
    margin: 6px 0;
    font-size: 15px;
    color: #333;
}

/* Separador (similar a SAT PDF) */
.factura-box hr {
    border: none;
    height: 1px;
    background: #d3d3d3;
    margin: 20px 0;
}

/* ===== SELLO DIGITAL ===== */
.sello {
    font-family: "Courier New", monospace;
    background: #060606;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    word-wrap: break-word;
    border: 1px solid #d9d9d9;
}

/* ===== BOTÓN DESCARGAR ===== */
#btnDescargar {
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    background: #1e2a38;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

#btnDescargar:hover {
    background: #2d425a;
    transform: scale(1.02);
}

/* ===== NAVBAR ===== */
.navbar {
    background: rgba(0, 0, 0, 0.8);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-left h1 {
    font-size: 22px;
    margin: 0;
}

.nav-center p {
    margin: 0;
    font-size: 17px;
}

.nav-side a {
    color: #66bbff;
    text-decoration: none;
    font-size: 16px;
}

.nav-side a:hover {
    text-decoration: underline;
}

/* ===== FOOTER ===== */
footer.footer {
    background: #111;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

footer .socials a {
    color: #66bbff;
    margin: 0 10px;
    text-decoration: none;
}

footer .socials a:hover {
    text-decoration: underline;
}

.map-box {
    margin: 20px auto;
}

/* Secciones ocultas inicialmente */
.oculto {
    display: none;
}

/* Botón Firmar */
.btnFirmar {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #213246;
    color: rgb(245, 244, 244);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.btnFirmar:hover {
    background: #2d425a;
    transform: scale(1.02);
}
