<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito - Upskill Academy</title>
  <link rel="stylesheet" href="../css/stylePrin.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/styleCarrito.css">
</head>
<body>
  <header class="navbar">
    <h1>Upskill Academy</h1>
    <nav class="nav-links">
      <a href="../views/pagPrin.html">Inicio</a>
      <a href="../views/cursos.html">Cursos</a>
      
    </nav>
  </header>

  <main>
    <h1>Tu carrito</h1>
    <table id="tablaCarrito">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí van los productos -->
      </tbody>
    </table>
    <h2 id="total">Total: $0 MXN</h2>
  </main>

  <footer class="footer">
    <p>© 2025 Upskill Academy - Todos los derechos reservados</p>
  </footer>

  <script src="../js/carrito.js"></script>
</body>
</html>
